.Nav {
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 30px;
    border: 1px solid #FF1493;
    background-color: #24292e;
    margin: 10px;
    height: 60%;
    width: 200vh;
    max-width: 150px;
    list-style: none;
    transition: transform .2s;
}

.Icon {
    color: white;
}

.Nav a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.Nav:hover {
    background-color: #FF1493;
    transform: scale(1.1);
}

@media (max-width: 550px) {
    .Nav a {
        font-size: 0.6em;
    }
}