.Nav {
    list-style: none;
    height: 100%;
    width: 50%;
    display: inline-block;
    text-align: center;
}

.Nav a {
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 20px 0;
    display:inline-block;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
}