.Header {
    display: flex;
    width: 100%;
    /* height: 8%; */
    /* margin: auto; */
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    background-color: #24292e;
}   

.Title {
    margin: 10px 10%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.Letter {
    color: 	#FF1493;
    font-weight: 300;
}

@media (max-width: 500px) {
    .Title {
        margin: 20px 5%;
        font-size: 1.5em;
    }
}