.Header {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
    background-color: #24292e;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    z-index: 4;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #FF1493;
    margin-right: 15px;
    width: 500px;
    height: 100%;
}

.Title {
    display: flex;
    margin-left: 10px;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 2.2em;
    color: white;
}

.Letter {
    color: 	#FF1493;
    font-weight: 300;
}

@media (max-width: 500px) {
    .Title {
        font-size: 1.8em;
    }
}