.Transition {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Transition > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 500ms ease-in, left 800ms;
}

.accueil-enter {
    opacity: 0.01;
    left: 200%;
}

.accueil-enter.accueil-enter-active {
    opacity: 1;
    left: 50%
}



.accueil-leave {
    opacity: 1;
    left: 50%
}

.accueil-leave.accueil-leave-active {
    opacity: 0.01;
    left: -200%;
}